@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&family=Pacifico&display=swap');

html{
    background-image: url(car.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-attachment: fixed;
}

body{
    display: inline-block;
    margin-left: 40%;
    font-family: 'Pacifico',
    cursive;
}

h1{
    color: aliceblue;
}

.text-1{
    color:cyan;

}

.text-2 {
    color:goldenrod;

}

h5{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    margin-top: 0;
    margin-bottom: 0;
    background-color: black;
    opacity: 0.9;
    font-family: 'Fira Mono',
    monospace;
    color: #d19a56;
    width: 350px;
}

.button {
    padding: 9px;
    margin-bottom: 25px;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
    color: #ffff;
    background-color: rgb(132, 0, 255);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    font-family: 'Pacifico',
    cursive;
}

.button:hover {
    background-color: #ea00ff;
}

.button:active {
    background-color: #ea00ff;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}